# Don't include these in npm package
*.o
*.exe
*.out
main.c
main.exe
server
server.c
dragonfly.exe
hashtable.c
hashtable.h
io.c
io.h
queue.c
queue.h
shard.c
shard.h
Transaction.c
Transaction.h
TXNQueue.c
TXNQueue.h
types.h
docs/NETWORK_*.md
docs/NETWORK_IMPLEMENTATION_GUIDE.md
.git
.gitignore
install.sh
uninstall.sh
install.bat
uninstall.bat
Makefile
README_INSTALLATION.md
INSTALL.md
